# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

toolbox/node_modules
toolbox/platforms
toolbox/plugins
toolbox/resources
toolbox/www/lib

.project
.DS_Store
