<ion-view view-title="设置">
	<ion-content class="padding">
  	
		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">手机号码</span>
				<input type="text" placeholder="手机号码" data-ng-model="variables.phoneNumber">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">照片上传IP</span>
				<input type="text" placeholder="照片上传IP">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">照片上传端口</span>
				<input type="text" placeholder="照片上传端口">
			</label>
		</div>
  	
	</ion-content>
</ion-view>
